body, div, ul, p, img {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100%;
	font-family: Arial, 'Microsoft Yahei';
}
ul {
	list-style: none;
}
a {
	display: inline-block;
	zoom: 1;
}
a:focus {outline: none;}
img {
	border: 0 none;
	vertical-align: middle;
}
.skin-container-bg {
	/*background: url('../img/bg.jpg') center 0 no-repeat;*/
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.header {
	/*background: #1f4e7c;*/
	background: rgb(31, 78, 124);
	/*background: rgba(0, 0, 0, 0.7);*/
	height: 40px;
	line-height: 40px;
}
.header-inner {
	position: relative;
	width: 1004px;
	margin: 0 auto;
}
.logo {
	position: absolute;
	top: 5px;
	left: 0;
}
.header-title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-left: 100px;
}
.search {
	position: relative;
	width: 204px;
	float: right;

	+position: absolute;
	+right: 0;
	+top: 0;
}
.search input {
	padding: 4px 2px;
	width: 200px;
	border: 0 none;
	color: #666;
	font-size: 13px;
}
.search input:focus {
	outline: none;
}
.search-btn {
	position: absolute;
	right: 0;
	top: 9px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/search.png') no-repeat;
	cursor: pointer;
}
a.search-btn:focus {
	outline: none;
}
.title {
	font-family: Microsoft YaHei;
}
#wrapper {
	min-height: 500px;
	min-width: 500px;
}
.main-doc {
	height: 633px;
	position: relative;
	background: url('../img/bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}
.container {
	height: 400px;
	padding-top: 100px;
	/*background: rgb(91, 159, 194);*/
}
.inner {
	margin: auto;
	height: 350px;
	width: 100%;
}
.center {
	position: relative;
	width: 1050px;
	margin: 0 auto;
}
.item {
	/*display: inline-block;*/
	position: relative;
	float: left;
	width: 320px;
	height: 320px;
	margin: 0 15px;
	background: #1f4e7c;
	/*background: rgba(31, 78, 124, 0.5);*/
	/*cursor: pointer;*/
	text-align: center;

	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
}
.item:hover {
	box-shadow: 0 0 10px 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 10px 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 10px 5px rgba(81, 203, 238, 1);
}
.item .item-corner {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 1px solid rgba(255,255,255,0);/*rgb(91, 159, 194)*/;
	border-bottom: 1px solid #1f4e7c;
	top: 0;
	left: 0;
	z-index: 99;

	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=5);/*for ie6,7,8*/
	zoom: 1;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.pin-logo {
	position: absolute;
	right: 10px;
	top: 0px;
	z-index: 100;
}
.item .item-title {
	/*position: absolute;*/
	font-size: 20px;
	color: #fff;
	width: 300px;
	margin: 12px 0;
	+padding-top: 12px;
}
/*
.item ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	width: 100%;
	-webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .5s;
}
.item ul li a span {
	position: relative;
	padding: 15px 0;
	display: inline-block;
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

}
.item ul li a span::before {
	display: inline-block;
	position: absolute;
	line-height: 46px;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #417bb6;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-webkit-backface-visibility: hidden; 
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.item ul li a:hover span {
	background: #417bb6;
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}
*/
.item ul li {
	position: relative;
	z-index: 1;
}
.item ul li a {
	overflow: hidden;
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	position: relative;
}
.item ul li a span {
	display: block;
	padding: 15px 0;
	width: 100%;
	background: #1f4e7c;
	/*background: rgba(31, 78, 124, 0.5);*/
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.item ul li a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 15px 0;
	width: 100%;
	height: 100%;
	color: #fff;
	/*background: #417bb6;*/
	background: rgba(65, 123, 182, 0.5);
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
.item ul li a:hover span,
.item ul li a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}
.item ul li a:hover::before,
.item ul li a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}
.more {
	height: 40px;
	line-height: 40px;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 20px;
	padding-bottom: 75px;
	text-align: center;
}
.go-next {
	position: absolute;
	left: 50%;
	left: calc(50% - 38px);
	bottom: 0;
	width: 76px;
	height: 90px;
	cursor: pointer;
	overflow: hidden;
}
@keyframes 'slide' {
	from {
		margin-top: 25px;
	}
	50% {
		margin-top: 60px;
	}
	to {
		margin-top: 25px;
	}
}
@-webkit-keyframes 'slide' {
	from {
		margin-top: 25px;
	}
	50% {
		margin-top: 60px;
	}
	to {
		margin-top: 25px;
	}
}
@-moz-keyframes slide {
	from {
		margin-top: 25px;
	}
	50% {
		margin-top: 60px;
	}
	to {
		margin-top: 25px;
	}
}
@-o-keyframes 'slide' {
	from {
		margin-top: 25px;
	}
	50% {
		margin-top: 60px;
	}
	to {
		margin-top: 25px;
	}
}
.go-n-btn {
	margin-top: 25px;
	-webkit-animation: slide 1s infinite linear;
	-moz-animation: slide 1s infinite linear;
	-o-animation: slide 1s infinite linear;
	animation: slide 1s infinite linear;
	cursor: pointer;
	background: url('../img/next.png') no-repeat;
	width: 73px;
	height: 29px;
}
.c-btn,.c-btn:visited{color:#333 !important}
.c-btn{display:inline-block;padding:0 14px;margin:0;height:24px;line-height:24px;font-size:13px;font-family:inherit;font-weight:normal;text-align:center;vertical-align:middle;filter:chroma(color=#000000);overflow:visible;*zoom:1;background-color:#f9f9f9;border:1px solid #d8d8d8;cursor:pointer}
.c-btn:hover{border-color:#388bff}
.c-btn:active{border-color:#a2a6ab;background-color:#f0f0f0;box-shadow:inset 1px 1px 1px #c7c7c7;-webkit-box-shadow:inset 1px 1px 1px #c7c7c7;-moz-box-shadow:inset 1px 1px 1px #c7c7c7;-o-box-shadow:inset 1px 1px 1px #c7c7c7}
a.c-btn{text-decoration:none}
.c-btn-primary,.c-btn-primary:visited{color:#fff !important}
.c-btn-primary{background-color:#388bff;border-color:#3c8dff #408ffe #3680e6;margin-top: -1px;margin-left: 10px;}
.c-btn-primary:hover{border-color:#2678ec #2575e7 #1c6fe2 #2677e7;background-color:#388bff;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAMAAACuX0YVAAAABlBMVEVnpv85i/9PO5r4AAAAD0lEQVR42gEEAPv/AAAAAQAFAAIros7PAAAAAElFTkSuQmCC);background-repeat:repeat-x;box-shadow:1px 1px 1px rgba(0,0,0,0.4);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.4);-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.4);-o-box-shadow:1px 1px 1px rgba(0,0,0,0.4)}
.c-btn-primary:active{border-color:#178ee3 #1784d0 #177bbf #1780ca;background-color:#388bff;background-image:none;-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.15);-o-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.15);-ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.15);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.15)}
.r-container {
	background: url('../img/doc.png') repeat;
	padding: 50px 0;
	width: 100%;
	overflow-x: hidden;
}
.r-list {
	padding: 0 30px;
}
.r-list section {
	width: 23%;
	float: left;
	margin-right: 20px;
	margin-bottom: 70px;
}
.r-list section h1 {
	padding-left: 30px;
}
.link-list {
	background: #f8f8f8;
	border: 1px solid #f8f8f8;
	padding: 10px;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.link-list:hover {
	box-shadow: 0px 1px 8px rgba(200,200,200,.6);
	background-color: #fff;
	border-color: #c8c8c8;
}
.link-list p {
	margin-bottom: 7px;
}
.link-list p a {
	text-decoration: none;
}
.link-list p a:hover {
	text-decoration: underline;
}
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}