<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <style type="text/css">#totop a {right: 30px;}</style>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/1.4.0/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/prettify.css">

    <!--for RSS-->
    <link rel="alternate" type="application/rss+xml" title="Poised-flw的博客" href="http://www.poised-flw.com/rss.xml" />

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
              <li>
              <a href="/archive.html">Archive</a>
              </li>
              <li>
                <a href="/categories.html">Category</a>
              </li>
              <li>
                <a href="/tags.html">Tags</a>
              </li>
              <li>
                <a href="/wiki/">Wiki</a>
              </li>
              <li>
                <a href="/rss.xml">RSS</a>
              </li>
              <li>
                <a href="http://github.com/luofei2011" target="_blank">Github</a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>
      
      <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-1.7.2.min.js"></script>
      <script type="text/javascript" src="{{ ASSET_PATH }}/js/prettify.js"></script>
      <!--code highlight-->
      {% include JB/highlight %}
      <span id="totop">
          <a href="javascript:void(0)"></a>
      </span>
      {% include JB/totop %}
      <div style="display: none">
      {% include JB/analytics %}
      </div>

      <footer>
        <p>
        友情链接: <a href="http://meitlee.info" target="_blank">Master 豪</a> | <a href="http://www.hit9.org" target="_blank">超神</a> | <a href="http://www.freepanda.me" target="_blank">八戒</a> | <a href="http://strangeuncle.tk" target="_blank">怪叔叔</a>
         | <a href="http://my.dot.tk/cgi-bin/amb/landing.dottk?nr=674396::12501084::1" target="_new" style="text-decoration: none">tk域名注册</a>
        </p>
        <p>&copy; {{ site.author.name }} 2013 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
